:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  
  background-color: #0f172a;
  color: #c084fc;
  transition: background 0.3s ease-in, color 0.3s ease-in;
}

html[data-theme="dark"] {
  color-scheme: dark;

  body {
    background: #000;
    color: #7DA2C3;
  }
}